# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual env
venv/
env/
.env

# Node
node_modules/
build/
dist/

# Models & DB (do NOT push)
models/
db/
*.joblib
*.pkl
*.h5

# Logs
*.log

# OS / Editor files
.DS_Store
.vscode/
.idea/
